/* Boiler Plate CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: white;
}

img{
    max-width: 100%;
    border-radius: 15px;
}

h1{
    padding-right: 10px;
}
h1,
h2{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}

.container{
    margin: 0 auto;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
}

.section-1 .box-1,
.section-1 .box-2,
.section-1 .box-3,
.section-2 .box-1,
.section-2 .box-2,
.section-2 .box-3,
.section-2 .box-4,
.section-2 .box-5,
.section-2 .box-6,
.header img{
    /* flex-grow: 1; */
    align-self: start;
    justify-content: center;
    background: black;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;

}

/* Navbar */
.navbar{
    background: lightgray;
    color: black;
    height: 60px;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: red;
}

/* Navbar Flex */
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* places navbar items vertically center */
    height: 100%;
}

/* Navbar ul Flex */
.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

/* Header */
.header{
    background-color: white;
    color: black;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img{
    max-width: 500px;
    margin-top: 20px;
}

/* Section-1 */
.section-1{
    background-color: white;
    text-align: center;
}

.section-1 img{
    max-width: 500px;
}

/* Section-1 Flex */
.section-1 .container{
    flex-wrap: wrap;
}

/* Section-2 */
.section-2{
    background-color: white;
    text-align: center;
}

.section-2 img{
    max-width: 500px;
}

/* Section-2 Flex */
.section-2 .container{
    flex-wrap: wrap;
}

/* Header Flex */
.header .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section-1 Flex */
.section-1 .container{
    padding:10px;
    display: flex;
    justify-content: center;
}

/* Section-2 Flex */
.section-2 .container{
    display: flex;
    justify-content: center;
}

/* Footer */
.footer{
    
}

/* Footer Flex */
.footer .container{
    display: flex;
    justify-content: space-evenly;  
    align-items: center;  
}

@media(max-width: 768px){
    .header .container{
        flex-wrap: wrap;
        text-align: center;
    }

    .section-1 .container{
        flex-wrap: wrap;
        text-align: center;
    }
    .section-2 .container{
        flex-wrap: wrap;
        text-align: center;
    }
}
@media(max-width: 570px){
    .navbar .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header img,
    .section-1 img,
    .section-2 img
    {
        max-width: 300px;
    }
    
}